.bannerImg{
  background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(https://i.ibb.co/Gkrc4DH/wood.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;

}



/* https://i.ibb.co/0CVsvmb/stock-photo-top-view-various-carpentry-tools-3.jpg */